<section class="grafana-metric-options">
    <div class="tight-form last">
        <ul class="tight-form-list">
            <li class="tight-form-item tight-form-item-icon">
                <i class="fa fa-info-circle"></i>
            </li>
            <li class="tight-form-item">
                <a ng-click="toggleEditorHelp(1);" bs-tooltip="'click to show helpful info'" data-placement="bottom">
                    dimension templating
                </a>
            </li>
            <li class="tight-form-item">
                <a ng-click="toggleEditorHelp(2)" bs-tooltip="'click to show helpful info'" data-placement="bottom">
                    aliasing
                </a>
            </li>
            <li class="tight-form-item">
                <a ng-click="toggleEditorHelp(3)" bs-tooltip="'click to show helpful info'" data-placement="bottom">
                    group by time
                </a>
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>
</section>

<div class="editor-row">
    <div class="pull-left" style="margin-top: 30px;">

        <div class="grafana-info-box span6" ng-if="editorHelpIndex === 1">
            <h5>Dimension Templating</h5>
            <ul>
                <li>Template variables can be used as normal</li>
                <li>$all : Use as a dimension value to automatically split the query by all valid values for the dimension</li>
            </ul>
        </div>

        <div class="grafana-info-box span6" ng-if="editorHelpIndex === 2">
            <h5>Aliasing</h5>
            <ul>
                <li>Template variables can be used as normal</li>
                <li>@dimension_name : Use to alias using the given dimension_name</li>
            </ul>
        </div>

        <div class="grafana-info-box span6" ng-if="editorHelpIndex === 3">
            <h5>Group by time</h5>
            <ul>
                <li>Required when function is not none</li>
                <li>Defaults to seconds if s,m,h,d is not specified</li>
                <li>Works with grafana interval templates</li>
            </ul>
        </div>


    </div>
</div>


