<div class="tight-form">
    <div  class="tight-form">
        <ul class="tight-form-list pull-right">
            <li ng-show="parserError" class="tight-form-item">
                <a bs-tooltip="parserError" style="color: rgb(229, 189, 28)" role="menuitem">
                    <i class="fa fa-warning"></i>
                </a>
            </li>
            <li class="tight-form-item small" ng-show="target.datasource">
                <em>{{target.datasource}}</em>
            </li>
            <li class="tight-form-item">
                <div class="dropdown">
                    <a  class="pointer dropdown-toggle" data-toggle="dropdown" tabindex="1">
                        <i class="fa fa-bars"></i>
                    </a>
                    <ul class="dropdown-menu pull-right" role="menu">
                        <li role="menuitem"><a tabindex="1" ng-click="duplicateDataQuery(target)">Duplicate</a></li>
                        <li role="menuitem"><a tabindex="1" ng-click="moveDataQuery($index, $index-1)">Move up</a></li>
                        <li role="menuitem"><a tabindex="1" ng-click="moveDataQuery($index, $index+1)">Move down</a></li>
                    </ul>
                </div>
            </li>

            <li class="tight-form-item last">
                <a class="pointer" tabindex="1" ng-click="removeDataQuery(target)">
                    <i class="fa fa-remove"></i>
                </a>
            </li>
        </ul>
        <ul class="tight-form-list">
            <li>
                <a  class="tight-form-item"
                    ng-click="target.hide = !target.hide; get_data();"
                    role="menuitem">
                    <i class="fa fa-eye"></i>
                </a>
            </li>
        </ul>
        <ul class="tight-form-list">
            <li class="tight-form-item">
                Function
            </li>
            <li>
                <select class="input-medium tight-form-input"
                        ng-model="target.aggregator"
                        ng-blur="targetBlur()"
                        ng-options="f for f in ['none','count', 'avg', 'sum', 'min', 'max']"></select>
            </li>
            <li class="tight-form-item">
                Metric
                <a bs-tooltip="target.errors.metric"
                    style="color: rgb(229, 189, 28)"
                    ng-show="target.errors.metric">
                    <i class="fa fa-warning"></i>
                </a>
            </li>
            <li>
                <input type="text"
                       class="tight-form-input input-medium"
                       ng-model="target.metric"
                       spellcheck='false'
                       placeholder="metric"
                       bs-typeahead="suggestMetrics"
                       data-min-length=0
                       ng-change="validateMetricChange()"
                       ng-blur="targetBlur()" >
            </li>
            <li class="tight-form-item" ng-hide="target.aggregator=='none'">
                Group By Time
                <a bs-tooltip="target.errors.period"
                    style="color: rgb(229, 189, 28)"
                    ng-show="target.errors.period">
                    <i class="fa fa-warning"></i>
                </a>
            </li>
            <li>
                <input type="text"
                       class="tight-form-input input-medium"
                       ng-model="target.period"
                       spellcheck='false'
                       placeholder="300"
                       data-min-length=0
                       ng-change="validateGroupBy()"
                       ng-blur="targetBlur()"
                       ng-hide="target.aggregator=='none'"
                       >
            </li>
            <li class="tight-form-item">
                Alias
            </li>
            <li>
                <input type="text"
                       class="tight-form-input input-medium"
                       ng-model="target.alias"
                       spellcheck='false'
                       placeholder="alias"
                       bs-typeahead="suggestAlias"
                       data-min-length=0
                       ng-blur="targetBlur()"
                       >
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>
    <div class="tight-form">
        <ul class="tight-form-list">
            <li class="tight-form-item">
                Dimensions
            </li>
            <li ng-repeat="dimension in target.dimensions track by $index">
                <input type="text"
                       class="input-small tight-form-input last"
                       spellcheck='false'
                       placeholder="key"
                       ng-model="dimension.key"
                       bs-typeahead="suggestDimensionKeys"
                       data-min-length=0
                       ng-change="validateDimension($index)"
                       ng-blur="targetBlur()">
                &nbsp;=&nbsp;
                <input type="text"
                       class="input-small tight-form-input last"
                       spellcheck='false'
                       placeholder="value"
                       ng-model="dimension.value"
                       bs-typeahead="suggestDimensionValues"
                       data-min-length=0
                       ng-change="validateDimension($index)"
                       ng-click="editDimension($index)"
                       ng-blur="targetBlur()">
                <span class="tight-form-item">
                    <a bs-tooltip="getDimensionErrors($index)"
                        style="color: rgb(229, 189, 28)"
                        ng-show="getDimensionErrors($index)">
                        <i class="fa fa-warning"></i>
                    </a>
                    <a ng-click="removeDimension($index)">
                        <i class="fa fa-remove"></i>
                    </a>
                </span>
            </li>
            <li class="tight-form-item">
                <a ng-click="addDimension()">
                    <i class="fa fa-plus"></i>
                </a>
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>
</div>
